<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Gimo-Timo Leaderboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="view/css/bootstrap.min.css" rel="stylesheet">
    <link href="view/css/mycss.css" rel="stylesheet">
    <script src="view/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="view/js/countryjs.js"> </script>

  </head>


  <body>

    <nav class="navbar navbar-inverse" >
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Gimo</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Leaderboard</a></li>
          <li><a href="./about.html">About</a></li>
        </ul>
      </div>
    </nav>


    <div class="container">

      <div class="page-title" align="center">
        <h1 class="serif">Gimo - Timo Leaderboard</h1>
        <hr/>
      </div>

      <nav>
        <ul class="nav navbar-nav">
          <li class="ac"><a href="./leaders.html">INDIVIDUAL</a></li>
          <li><a>COUNTRY</a></li>
        </ul>
      </nav>


      <table class="table table-hover" id="countryTable"></table>


    </div>

    <h5 style="color: gray" align="center">Profile's background color can change</h5>

  </body>

</html>
