
  if scores <= 5 {
    //Xam
  }
  if scores <= 60 && scores > 5{
    //Xanh nhat
  }
  if scores <= 150 && scores > 60{
    //Xanh dam
  }
  if scores <= 600 && scores > 150{
    //Cam
  }
  if scores <= 1500 && scores > 600{
    //Vang
  }
  if scores <= 3000 && scores > 1500{
    //Tim
  }
  if scores <= 6000 && scores > 3000{
    //Xanh duong dam
  }
  if scores <= 12000 && scores > 6000{
    //Do dam
  }
  if scores <= 24000 && scores > 12000{
    //Xanh la dam
  }
  if scores <= 48000 && scores > 24000{
    //Tim than
  }
  if scores > 48000{
    //Den
  }

  JWSHHSZ: 0006 35305 0065
           0004 00847 3376
